body{
    text-align: center;
    background-color: powderblue;
}

p{
    padding-bottom: 5%;
}

.table{
    background-color: whitesmoke;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 2%;
    padding-bottom: 5%;
    margin-left: 10%;
    margin-right: 10%;

}

table{
    display: flex;
    justify-content: center;
}

.left-col{
    text-align: right;
}

.right-col{
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
}